/tmp/
/target/
/.bundle
/.rvmrc
/notes.txt
*.gem
/storm-*/
/storm
/redstorm.wiki
/Dependencies
/ivy/ivy-*.jar
/vagrant/cookbooks
/.ruby-version
/vagrant/.bundle
/vagrant/.ruby-version
/vagrant/tmp
/vagrant/vendor
/vagrant/.vagrant
/vendor
/coverage/
*.sw*
.gradle/
build/
